<a href="https://colab.research.google.com/github/BrianMoringa/WEEK-4IP-SUBMISSION/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2022_07_Brian_Onchweri_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# WEEK 4 IP SUBMISSION

##Importing our Libraries

In [ ]:
# Importing the Pandas Library
#
import pandas as pd

# Importing the Numpy Library
#
import numpy as np

In [ ]:

# Making the dataframe from csv file 
df = pd.read_csv("/content/Autolib_dataset (2).csv") 
  
# Display the resulting dataframe
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [ ]:
#DESCRIBING OUR DATA
df.describe()

              Cars  Bluecar counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

In [ ]:
#CHECKING THE SHAPE OF OUR DATAFRAME
df.shape

#CHECKING FOR DUPLICATES
df.duplicated()


#SUBSEQUENTLY DROPPING DULICATES IF THEY EXIST
df.drop_duplicates(keep="first", inplace=True)

df.shape

(5000, 25)

**We Have No Duplicates Since our shape did not change above**

In [ ]:
#UNDERSTAANDING THE DATA TYPES WE HAVE
print(df.dtypes)

Address                object
Cars                    int64
Bluecar counter         int64
Utilib counter          int64
Utilib 1.4 counter      int64
Charge Slots            int64
Charging Status        object
City                   object
Displayed comment      object
ID                     object
Kind                   object
Geo point              object
Postal code             int64
Public name            object
Rental status          object
Scheduled at           object
Slots                   int64
Station type           object
Status                 object
Subscription status    object
year                    int64
month                   int64
day                     int64
hour                    int64
minute                  int64
dtype: object

**DROPPING COLUMNS WE DONT NEED FOR OUR ANALYSIS SUCH AS CARS WHICH HAS BEEN REDUDANT**

In [ ]:
#Listing all the column names we have to help us determine which column names we dont need.
df.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [ ]:
#Dropping columns 
df1=df.drop(['Cars','Scheduled at','Status','minute','Geo point','Displayed comment','day','Station type','year','month'], axis=1)
df1.head()

                              Address  ...  hour
0                 2 Avenue de Suffren  ...    11
1           145 Rue Raymond Losserand  ...     7
2    2 Avenue John Fitzgerald Kennedy  ...    20
3              51 Rue EugÃ¨ne OudinÃ©  ...     4
4  6 avenue de la Porte de Champerret  ...    17

[5 rows x 15 columns]

In [ ]:
#CHECKING THE DATAFRAME TYPE WE HAVE
df1.dtypes

Address                object
Bluecar counter         int64
Utilib counter          int64
Utilib 1.4 counter      int64
Charge Slots            int64
Charging Status        object
City                   object
ID                     object
Kind                   object
Postal code             int64
Public name            object
Rental status          object
Slots                   int64
Subscription status    object
hour                    int64
dtype: object

**GROUPING OUR df1 DATAFRAME INTO DIFFERENT SUB_DATAFRAME OBJECTS TO ENABLE US PASS DIFFERENT ARGUMENTS**

In [ ]:
#
GroupedbyChgStatus=df1.groupby('Charging Status')
GroupedbyChgStatus.head()

                                Address  ...  hour
0                   2 Avenue de Suffren  ...    11
1             145 Rue Raymond Losserand  ...     7
2      2 Avenue John Fitzgerald Kennedy  ...    20
3                51 Rue EugÃ¨ne OudinÃ©  ...     4
4    6 avenue de la Porte de Champerret  ...    17
5                  8 Boulevard Voltaire  ...     7
6                        37 rue Leblanc  ...    18
7           17 Rue des Luaps ProlongÃ©e  ...    22
10                       14 rue Censier  ...     4
14           8 Boulevard Richard Lenoir  ...     8
29                     35 rue de Boucry  ...     2
46        81 avenue de la Grande ArmÃ©e  ...    21
132                    33 rue Crozatier  ...     6
215               65 Avenue Ãmile Zola  ...    12
241        92 Boulevard des Batignolles  ...     2

[15 rows x 15 columns]

In [ ]:
#
Groupedbykind=df1.groupby('Kind')
Groupedbykind.head()

                                 Address  ...  hour
0                    2 Avenue de Suffren  ...    11
1              145 Rue Raymond Losserand  ...     7
2       2 Avenue John Fitzgerald Kennedy  ...    20
3                 51 Rue EugÃ¨ne OudinÃ©  ...     4
4     6 avenue de la Porte de Champerret  ...    17
5                   8 Boulevard Voltaire  ...     7
6                         37 rue Leblanc  ...    18
9           41 boulevard de Rochechouart  ...    15
12    6 avenue de la Porte de Champerret  ...    12
15                    3 rue Jean JaurÃ¨s  ...     0
18                 26 villa Croix-Nivert  ...    20
20                  2 Place de Catalogne  ...     6
38               77 rue Edouard Vaillant  ...    23
39                     1 rue Jean Monnet  ...     8
65                        4 rue Massenet  ...    15
2038           20 Quai de la MÃ©gisserie  ...     2
3985           20 Quai de la MÃ©gisserie  ...    13
4053           20 Quai de la MÃ©gisserie  ...     5

[18 rows x 15 columns]

In [ ]:
#
GroupedbySubStatus=df1.groupby('Subscription status')
GroupedbySubStatus.head()

                                Address  ...  hour
0                   2 Avenue de Suffren  ...    11
1             145 Rue Raymond Losserand  ...     7
2      2 Avenue John Fitzgerald Kennedy  ...    20
3                51 Rue EugÃ¨ne OudinÃ©  ...     4
4    6 avenue de la Porte de Champerret  ...    17
15                   3 rue Jean JaurÃ¨s  ...     0
20                 2 Place de Catalogne  ...     6
38              77 rue Edouard Vaillant  ...    23
39                    1 rue Jean Monnet  ...     8
65                       4 rue Massenet  ...    15
79                 24 boulevard Diderot  ...     3
80                          4 Rue Lobau  ...    14
85                 41 Boulevard Bourdon  ...     7
90                          4 Rue Lobau  ...     7
154      52 Boulevard de la RÃ©publique  ...    11

[15 rows x 15 columns]

In [ ]:
#
Groupedbycity=df1.groupby('City')
Groupedbycity.head()

                                 Address  ...  hour
0                    2 Avenue de Suffren  ...    11
1              145 Rue Raymond Losserand  ...     7
2       2 Avenue John Fitzgerald Kennedy  ...    20
3                 51 Rue EugÃ¨ne OudinÃ©  ...     4
4     6 avenue de la Porte de Champerret  ...    17
...                                  ...  ...   ...
4319                     17 rue Guynemer  ...     6
4477                  6 avenue du Mesnil  ...    22
4654            202 avenue des Forgerons  ...    14
4689                12 avenue de la gare  ...    19
4799               79 rue AndrÃ© Joineau  ...    18

[429 rows x 15 columns]

**UNDERSTANDING THE QUESTIONS WE NEED TO ANSWER TO HELP US DETERMINE WHAT TRANSFORMATIONS WE NEED TO DO TO OUR DATASET**

In [ ]:
#Research Question

#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
#Bonus Questions 

#(Optional)

#What is the most popular hour for returning cars?
#What station is the most popular?
#Overall?
#At the most popular picking hour?
#What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
#Overall?
#At the most popular picking hour?
#Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 

#To compute usage, we will need to understand that we have to join successive (in time) measures/counters for a given station,
#as the difference will tell whether a car was picked up, returned, or nothing happened.

**Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.**

In [ ]:
#passing arguments
#Bluecar Has to be at its maximum level
#Rental status has to be operational
#Slots available have to maximum

In [ ]:
Bcar=df1.loc[df1['Bluecar counter'] ==df1['Bluecar counter'].max()]

In [ ]:
BluecarOP=Bcar.loc[Bcar['Rental status']== "operational"]

In [ ]:
BluecarOPSlots=BluecarOP.loc[BluecarOP['Slots']>0]
BluecarOPSlots

Empty DataFrame
Columns: [Address, Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, ID, Kind, Postal code, Public name, Rental status, Slots, Subscription status, hour]
Index: []

**WE CAN SEE FROM ABOVE NO BLUECARS ARE AVAILABLE**

**What is the most popular hour for returning cars?**

In [ ]:
#The most popular hour for returning cars will be the hour with the most cars parked

**What station is the most popular?**